.Toolbar
{
    flex-shrink: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    -unity-text-align: middle-left;
}

.Toolbar > Label
{
    padding-top: 0px;
    padding-bottom: 0px;
    -unity-text-align: middle-left;
}

.ToolbarToggle
{
    margin-top: 0px;
    margin-bottom: 0px;
}
